@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind에 기본으로 없어서(현재 App.jsx에서 사용) 스크롤바를 숨김 처리 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

